<div class="row">
    <div class="col-md-10">
        <h3>
            Dobrodošli na PodsticarijumCMS.
        </h3>
            Uputstvo . . . <br />
            Uputstvo . . . <br />
            Uputstvo . . . <br />
            Uputstvo . . . <br />
            Uputstvo . . . <br />
            Uputstvo . . . <br />
            Uputstvo . . . <br />
    </div>
</div>