<div class="row">
    <div class="col-md-10">
        <h3>
            Dobrodošli na PodsticarijumCMS.
        </h3>
        <br />
        <h4>Uputstvo za korišćenje: </h4>
        <h4><a href="https://docs.google.com/document/d/1ll33b_vmF7y7wUtqLasURneY74dchIPslPT-uUBmGjk/edit#heading=h.dqp9oa7vxnf3">Link</a></h4>
    </div>
</div>