@model List<podsticarijum_backend.Application.DTO.ContentDto>;
@{
    ViewData["Title"] = "Index";
}

<h3>Welcome screen content (or donation text)</h3>

<p>
    <a class="btn btn-outline-primary btn-lg" asp-action="Create">Create New</a>
</p>

<table class="table" >
    <thead>
        <tr>
            <th>Edit&nbsp;|&nbsp;Delete</th>
            <th>
                Content Type
            </th>
            <th>
                Content Text
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="link-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="link-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>
                <td style="word-break:break-word;">
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
            </tr>
        }
    </tbody>
</table>
